<h1>Enter a new figure:</h1>
<form method="POST" action="/figures">
  <h2>Name: <input type="text" name="figure[name]" id="figure_name"></h2><br>
  <h3>Choose from the existing titles or create a new one:</h3><br>
    <% @titles.each do |title| %>
      <label><%= title.name %></label>
      <input type="checkbox" name="figure[title_ids][]" id="title_<%= title.id %>" value="<%= title.id %>">
    <% end %>
  <p>New title: <input type="text" name="title[name]" id="new_title"></p><br>

  <h3>Choose from the existing landmarks or create a new one:</h3><br>
    <% @landmarks.each do |landmark| %>
      <label><%= landmark.name %></label>
      <input type="radio" name="figure[landmark_ids][]" id="landmark_<%= landmark.id %>" value="<%= landmark.id %>">
    <% end %>
  <p>New landmark: <input type="text" name="landmark[name]" id="new_landmark"></p><br>
  <p>Year completed: <input type="text" name="landmark[year_completed]"></p><br>

  <input type="submit" value="Create New Figure">
</form>
